<template>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
    
    
    
                    <div class="list-group-item">
                        <span click.trigger="back()"><i data-feather="arrow-left-circle"></i></span>
                        <span click.trigger="save()" style="margin-left:5px;"><i data-feather="save"></i></span>
                        <span show.bind="todo._id" click.trigger="delete()"><i data-feather="trash-2"></i></span>
    
                    </div>
    
                    <div class="form-group" style="margin-top:20px;">
                        <label for="Todo">ToDo</label>
                        <input type="email" class="form-control" value.bind="todo.todo" id="todo" placeholder="To Do">
    
                    </div>
    
    
    
                    <div class="form-group">
    
                        <label for="priority">Priority</label>
                        <select class="form-control" value.bind="todo.priority" id="priority">
                            <option value="High">Critical</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">We have more time</option>
                        </select>
    
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" checked.bind="todo.active" type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
    
                            Done
    
                        </label>
    
                    </div>
    
                </div>
    
            </div>
    
        </div>
    
    </template>